@model List<Inventario2.Models.producto>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reporte</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <h2>Reporte de Productos</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Descripcion</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var element in Model)
                {
                    <tr>
                        <td>@element.nombre</td>
                        <td>@element.percio_unitario</td>
                        <td>@element.descripcion</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
